<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Your Web Page Title</title>
 <link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg">
 <link rel="icon" type="image/png" href="img/favicon/favicon.png">
 <link rel="stylesheet" href="main.css">
</head>

<body class="redvectoria">
 <!-- ##################################################### -->
  <nav><!-- probando -->
   <a href="/index.html">
    <button class="tres">
     <svg xmlns="http://www.w3.org/2000/svg">
      <use href="../index.html#trois"></use>
     </svg>
    </button>
   </a>
   <button>
    <a  class="button" href="./00__#string/00__#string.html">&#60;</a>
   </button>
   <!-- TITULARES -->
   <h2 class="cabeceras">Index</h2>
   <!-- TITULARES -->
   <button class="button">
    <a  class="button" href="./00__#string/00__#string.html">&#62;</a>
   </button>
  </nav>

  <main>
    <section class="maestra-code">
     <code class="typewriter-delay">
      <p class="typewriter-delay">lorenaipsum     </p>
      <p class="typewriter-delay">lorenaipsum     </p>
      <p class="typewriter-delay">lorenaipsum     </p>
      <p class="typewriter-delay">lorenaipsum     </p>
      <p class="typewriter-delay">lorenaipsum     </p>
      <p class="typewriter-delay">lorenaipsum     </p>
      <p class="typewriter-delay">lorenaipsum     </p>
     </code>
    </section>

    <!-- More sections can be added as needed -->
<!-- ##################################################### -->
<nav><!-- probando -->
 <a href="/index.html">
   <button class="tres">
     <svg xmlns="http://www.w3.org/2000/svg">
       <symbol id="bottom">
         <rect x="0" y="0" width="100" height="100" fill="red" />
       </symbol>
       <use href="/index.html/#trois"></use>
     </svg>
   </button>
 </a>
 <button>
   <a class="button" href="./00__#string/00__#string.html">&#60;</a>
 </button>
 <!-- TITULARES -->
 <h2 class="cabeceras">Index</h2>
 <!-- TITULARES -->
 <button class="button">
   <a class="button" href="./00__#string/00__#string.html">&#62;</a>
 </button>
</nav>


</body>

</html>
