/* FALLBACKS TIPOGRÁFICOS *//* FALLBACKS TIPOGRÁFICOS *//* FALLBACKS TIPOGRÁFICOS */
@font-face {
 font-family: 'Inconsolata';
 src:local ('/fonts/inconsolata/Inconsolata-Regular.ttf')  format('truetype');
}
@font-face {
 font-family: 'Open Sans';
 src:local ('/fonts/OpenSans-VariableFont_width,wght.ttf') format('truetype-variations');
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* FALLBACKS TIPOGRÁFICOS *//* FALLBACKS TIPOGRÁFICOS *//* FALLBACKS TIPOGRÁFICOS */
/**********************************************************************************************/

/* VARIABLES *//* VARIABLES *//* VARIABLES *//* VARIABLES */
:root{
--color--on:papayawhip; /*Perú  lch(62.253% 54.011 63.677)    Oklab: l:0.678, a: 0.057, b: 0.109*/--color--off:hsl(0, 0%, 10%);
--azul--off: hsl(240, 100%, 30%);
--negro--off: hsl(0, 0%, 10%);
--bermejo--visited:hsl(12, 100%, 35%);
--verde--verdero:	hsl(120, 100%, 25%);
/* GRID */
--column-count:2;
/* GRID */
}
/* VARIABLES *//* VARIABLES *//* VARIABLES *//* VARIABLES */

/*******************************************************************************************/
/* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-size: 16px;
 line-height: 1.1;
 color: #333;
}
html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: bold;
}
ul, ol {
 list-style-type: none;
}
img {
 max-width: 100%;
}
@media (prefers-reduced-motion: reduce) {
* {
 animation: none !important;
 transition: none !important;
}
}
a{
 text-decoration: none;
}
/* RESET *//* RESET *//* RESET *//* RESET *//* RESET *//* RESET */
/**********************************************************************************************/

/* GENERALIDADES DE PÁGINA *//* GENERALIDADES DE PÁGINA *//* GENERALIDADES DE PÁGINA */
.libromitir {
 display:grid;
 column-count: var(--column-count);
 grid-gap:0.5rem;
 width:100%;
 height: 100%;
 place-content: center;
 padding:1.5rem;
}

/* PAGINATION AND CELLPHONES */
@media (max-width: 600px) {
  .libromitir {
    column-count: 1;
  }
}
/* GENERALIDADES DE PÁGINA *//* GENERALIDADES DE PÁGINA *//* GENERALIDADES DE PÁGINA */

/**********************************************************************************************/
/***************************************************************************************************************/
/***************************************************************************************************************/

/* TIPOGRAFÍA *//* TIPOGRAFÍA */  /* TIPOGRAFÍA *//* TIPOGRAFÍA */  /* TIPOGRAFÍA *//* TIPOGRAFÍA */  

/* SCALE FONTS *//* SCALE FONTS *//* SCALE FONTS *//* SCALE FONTS */
@media screen and (max-width: 600px) {
  .libromitir {
   font-size: 4vw;
  }
/* SCALE FONTS *//* SCALE FONTS *//* SCALE FONTS *//* SCALE FONTS */

}
h1 {
 font-family: "Inconsolata", monospace,  sans-serif;
 text-align: center;
 font-size: 2rem;

}

h2 {
 font-family: "Inconsolata", monospace, sans-serif;
 text-align: center;
 font-size:1.5rem;
}


/*NAVIGATION BUTTONS Y SU TIPOGRAFÍA*//*NAVIGATION BUTTONS*//*NAVIGATION BUTTONS*//*NAVIGATION BUTTONS*/
button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
 
}

nav{
  display: flex;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  justify-content: center;
}



/* .trespuntos, #trois, a{
  width: 1%;
  height: 1%;
  color:grey;
} */
/*NAVIGATION BUTTONS*//*NAVIGATION BUTTONS*//*NAVIGATION BUTTONS*//*NAVIGATION BUTTONS*/

/* TIPOGRAFÍA DE LA TABLA DE CONTENIDO*/
ul li {
 font-size:1rem ;
 font-family: "Inconsolata", sans-serif;
 text-align: center;
}
/*TIPOGRAFÍA TABLA DE CONTENIDO*/

/*TIPOGRAFÍA DE ARTICLE*/
.prosa{
 font-family: "Open Sans", sans-serif, monospace;
 font-size:1.5rem;
 text-align: justify;
 line-height: 2rem ;
}
/*TIPOGRAFÍA DE ARTICLE*/

/*TIPOGRAFÍA DE SECTION*/v
code.typewriter {
 display: block;
 font-family: "Inconsolata, monospace";
 font-weight: bold ;
 font-size: 0.5rem;
 white-space: nowrap;
}
/*TIPOGRAFÍA DE SECTIONS*/
/* CODE TAG ANIMATION *//* CODE TAG ANIMATION *//* CODE TAG ANIMATION */
.typewriter-delay {
 word-break: break-all;
 animation-name: typewriter-delay;
 animation-duration: 4s; /* Adjust the duration as needed */
 animation-timing-function: steps(100, end);
}

@keyframes typewriter-delay {
 from {
 width: 0%;
 }
 to {
 width: 100%;
 }
}
/* CODE TAG ANIMATION*//* CODE TAG ANIMATION *//* CODE TAG ANIMATION */


/* TEMA*//* TEMA*//* TEMA*//* TEMA*//* TEMA*//* TEMA */ /* TEMA *//* TEMA*//* TEMA*//* TEMA*//* TEMA*//* TEMA*/ /* TEMA *//* TEMA */ /* TEMA*//* TEMA*//* TEMA*//* TEMA*//* TEMA*/ /* TEMA *//* TEMA */ 
@media (prefers-color-scheme: light) {
 body{
 background-color:var(--color--on);
 color:var(--negro--off);
 }

 a:visited, nav, button {
 text-decoration: none;
 color:var(--bermejo--visited);
 }

 a ul li:has(a:visited) {
 color: var(--color--on);
 }
 p, .prosa {
 color: var(--negro--off);
  }
}
@media (prefers-color-scheme: dark) {
 body {
 background-color:var(--negro--off);
 color:var(--color--on);
 }
 a,.prosa,.libromitir {
 color:var(--color--on);
 }
 a ul li:has(a:visited){
 color:var(--bermejo--visited)
 }
 .typewriter-delay{
 color:var(--verde--verdero);
 }
 a:visited, .button {
  color:var(--verde--verdero);
  size: 1rem;
 }
}
/* TEMA*//* TEMA*//* TEMA*//* TEMA*//* TEMA*/ /* TEMA *//* TEMA *//* TEMA*//* TEMA*//* TEMA*//* TEMA*//* TEMA*/ /* TEMA *//* TEMA */ /* TEMA*//* TEMA*//* TEMA*//* 



/* TIPOGRAFÍA *//* TIPOGRAFÍA */  /* TIPOGRAFÍA *//* TIPOGRAFÍA */  /* TIPOGRAFÍA *//* TIPOGRAFÍA */ 
/***************************************************************************************************************/
/***************************************************************************************************************/
/***************************************************************************************************************/

/* .bg {
  background: url('data:image/svg+xml;utf8,<svg ...> ... </svg>');
} */
/* FIGURAS */ /* FIGURAS */ /* FIGURAS *//* FIGURAS *//* FIGURAS */ /* FIGURAS */ /* FIGURAS */
/* TRES PUNTOS  *//* TRES PUNTOS  *//* TRES PUNTOS  */
#trois {
content: url("data:image/svg+xml,>")
 margin: 0%;
 width:1%;
 height:2%;
}
/* TRES PUNTOS  *//* TRES PUNTOS  *//* TRES PUNTOS  */


/* FIGURA 1 */
#fig-1 {
width:10%;
height:200%;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: dark) {
#fig-1{
fill: var(--fill-color, white);
}
}

@media (prefers-color-scheme: light) {
#fig-1 {
fill: var(--fill-color, black);
}
}
/* FIGURA 1 */ /* FIGURAS */ /* FIGURAS */ /* FIGURAS *//* FIGURAS *//* FIGURAS */ /* FIGURAS */ /* FIGURAS */


