/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.1;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  h1, h2, h3, h4, h5, h6 {

    font-weight: bold;

  }


  ul, ol {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
/* RESET */

.libromitir {
display:grid;
width:100%;
height: 100%;
grid-gap:1rem;
place-content: center;
 
}
  
/* TIPOGRAFÍA */

@font-face {
 font-family: "Open Sans";
 src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800) format('woff2'),
}

  
@font-face {
 font-family: "Inconsolata";
 src: url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&display=swap);
}
  
h1 {
 font-family: "Inconsolata", sans-serif;
 text-align: center;
 font-size: 2rem;
}

h2 {
font-family: "Inconsolata", sans-serif; 
text-align: center;    
}

nav{
    text-align: center;
    font-size: 2rem;
    font-family: "Inconsolata", sans-serif;
    
  }

nav ul {
    font-size:1rem ;
    font-family: "Inconsolata", sans-serif;
}


code{
display:block;
text-align:center; 
word-break: break-all;
font-size: 0.5rem;
}


.prosa{
 font-family: "Open Sans", sans-serif;
 font-size:1rem;
 text-align: justify;
}

/* TIPOGRAFÍA */


/* TEMA */
@media (prefers-color-scheme: light) 
{
 body, a 
  {
    background-color:#f4ecd8; /* Sepia background color */;
    color:black;
  }
}
 @media (prefers-color-scheme: dark) 
{
  body, a
  {
    background-color:black;
    color:white;
  }
}
/* TEMA */


/* Figuras */

#fig-1 {
  width:10%;
  height:200%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: dark) {
#fig-1{
  fill: var(--fill-color, white);
}
}

@media (prefers-color-scheme: light) {
#fig-1 {
  fill: var(--fill-color, black);

}
}

/* Figuras */

/* TYPEWRITER EFFECT */


code {
  white-space: pre;
  display: inline-block;
  vertical-align: top;
  animation: typeEffect 2.5s steps(40) forwards;
}



@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 10s steps(50) infinite;
}

.typewriter-delay {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typewriter-delay 0.5s forwards;
}

@keyframes typewriter-delay {
  0% { width: 0; }
  100% { width: 100%; }
}


/* @keyframes typing {
  from { width: 0; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}
code {
  animation: typing 4s steps(40), blink-caret 0.75s step-end infinite;
} */
/* TYPEWRITER EFFECT */

